* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.cartdetails {
  display: flex;
}

.shippingaddress {
  flex: 0.5;
}

.addressform {
  background-color: grey;
  height: 35vh;
}

.form-control {
  border: 1px solid black;
  margin: 2%;
  padding: 1%;
  border-radius: 10%;
  font-size: larger;
}

.shoppingbag {
  flex: 0.5;
}

.btncart {
  background-color: blanchedalmond;
  padding: 1%;
  margin: 2%;
}

hr {
  color: red;
  background-color: brown;
  height: 5px;
}