* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.cartdetails {
  display: flex;
}

.carttitle {
  font-size: 1.5em;
  padding: 0% 1% 2% 1%;
}

.shippingaddress {
  flex: 0.5;
  margin: 2% 1% 2% 2%;
}

.addressform {
  background-color: grey;
  height: fit-content;
}

.form-control {
  border: 1px solid black;
  margin: 2%;
  padding: 0.5%;
  border-radius: 5px;
  font-size: 1em;
}

.shoppingbag {
  flex: 0.5;
  margin: 2% 2% 2% 1%;
}

.btncart {
  background-color: blanchedalmond;
  padding: 1%;
  margin: 2%;
}

.amt {
  float: right;
}

hr {
  color: lightgray;
  background-color: lightgray;
  height: 2px;
}

@media screen and (max-width: 936px) {
  
  .cartdetails{flex-direction: column;}
}