* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.SingleOrder {
  border: 2px solid black;
}

.OrderTopBar {
  height: 2%;
  background-color: bisque;
  padding: .25% 1% .25% 1%;
}

.OrderTime {
}

.OrderStatus {
  float: right;
}

.OrderDesc {
  display: flex;
  padding: 1%;
}

.OrderImg {
  flex: 0.1;
  /* height: 10%;
  width: 10%; */
}

.BookImg {
  height: 100%;
  width: 30%;
}

.OrderBrief {
  flex: 0.9;
}

.BookTitle {
  font-size: 1em;
}

.BookAuthor {
  font-size: .75em;
}

.BookPrice {
  font-size: .75em;
}