* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.SelectedBook {
  display: flex;
  height: 100%;
}

.SelectedBookImg {
  flex: 0.2;
  float: left;
  padding: 1% 0% 1% 1%;
}

.BookImg {
  height: 70%;
  width: 100%;
}

.SelectedBookDetails {
  flex: 0.8;
  float: right;
  padding: 1%;
}

.BookTitle {
  font-size: 1em;
}

.BookPrice {
  font-size: .75em;
}

.BookAuthor {
  font-size: .75em;
}

.BookPageCount {
  font-size: .75em;
}

.BookISBN {
  font-size: .75em;
}

.Btn {
  margin-top: 1%;
}

.BtnAddToCart {
  background-color: brown;
  color: white;
  padding: .5%;
}

.BtnBuyNow {
  background-color: brown;
  color: white;
  padding: .5%;
  margin-left: 2%;
}

.BookDesc {
  font-size: .90em;
  margin-top: 1%;
}