* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.selectedbook {
  display: flex;
  height: 100%;
}

.selectedbookimg {
  flex: 0.2;
  float: left;
  padding: 1% 0% 1% 1%;
}

.bookimg {
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.selectedbookdetails {
  flex: 0.8;
  float: right;
  padding: 5% 4% 1% 1%;
}

.booktitle {
  font-size: 1em;
}

.bookprice {
  font-size: .75em;
}

.bookauthor {
  font-size: .75em;
}

.bookpagecount {
  font-size: .75em;
}

.bookisbn {
  font-size: .75em;
}

.btn {
  margin-top: 1%;
}

.btnaddtocart {
  background-color: lightsalmon;
  color: white;
  padding: .5% 2% .5% 2%;
}

.btnbuynow {
  background-color: lightsalmon;
  color: white;
  padding: .5% 2% .5% 2%;
  margin-left: 2%;
}

.bookdesc {
  font-size: .90em;
  margin-top: 1%;
}

@media screen and (max-width: 648px){
  .selectedbook {
    flex-direction: column;
  }
}